<p></p>
<div class="form-group row">
  <label for="example-text-input" 
  class="col-2 col-form-label">Task:</label>
  <div class="col-10">
    <input class="form-control" type="text" 
    id="example-text-input" name="task" 
    [(ngModel)]="item.task">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" 
  class="col-2 col-form-label">Priority:</label>
  <div class="col-10">
  <div class="slidecontainer">
      <input type="range" min="0" max="30" 
      class="slider" 
      id="myRange" 
      [(ngModel)]="item.priority"
      value = "item.priority">
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input"
  class="col-2 col-form-label">Parent Task:</label>
  <div class="col-10">
    <input class="form-control" type="text" 
    id="example-text-input" name="Parent"
    [(ngModel)]="itemparent.parent_task">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input"
  class="col-2 col-form-label">Start Date:</label>
  <div class="col-10">
    <input class="form-control" type="date"
    id="example-text-input" name="strdate" 
    [(ngModel)]="item.start_date">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" 
  class="col-2 col-form-label">End Date:</label>
  <div class="col-10">
    <input class="form-control" type="date" 
    id="example-text-input" name="enddate" 
    [(ngModel)]="item.end_date">
  </div>
</div>
<input id="id_ok" class="btn btn-space" 
value="Submit" type="button">
<input id="id_cancel" class="btn btn-space" 
value="Reset" type="button">
<pre>  
  {{itemparent.parent_task}}
  {{item.task}}
  {{item.start_date}}
  {{item.end_date}}
  {{item.priority}}
</pre>
